@font-face {
    font-family: 'neoubold';
    src: url('../fonts/neou-bold-webfont.woff2') format('woff2'),
         url('../fonts/neou-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neouthin';
    src: url('../fonts/neou-thin-webfont.woff2') format('woff2'),
         url('../fonts/neou-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #1b1b1b;
}

.menu li{
	background-color: transparent;
}

.menu ul{
	background-color: transparent;
}

.menu a{
	color: white;
	font-size: 14px;
	font-family: 'neoubold';
}

.menu a:hover{
	color: #fcc219;
}

.top-bar-right{
	background-color: #1b1b1b;
	margin-top: 3%;
}

.title-bar{
	background-color: #1b1b1b;
}

#mainLogo{
	margin-top: -2.2%;
}

#searchBox input[type=search] {
	background: url("../images/mag_glass.png") #1b1b1b center no-repeat;
	border: none;
	width: 22px;
	cursor: pointer;
	margin-left: 8%;
}

#searchBox input[type=search]:hover {
	background-color: #1b1b1b;
}

#searchBox input[type=search]:focus {
	width: 140px;
	padding-left: 15px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}

#searchBox input:-moz-placeholder {
	color: transparent;
}

#searchBox input::-webkit-input-placeholder {
	color: transparent;
}

#footer{
	background-color: #4a4a4a;
	height: 225px;
}

#footerLogo{
	margin-top: 6%;
}

#footer .menu{
	margin-top: 4%;
	margin-left: 24%;
}


@media only screen and (max-width:  640px){

.top-bar-right{
	margin-top: 0%;
}

#mainMenu ul{
	position: absolute;
	display: inline-block;
	background: #1b1b1b;
	z-index: 999;
	width: 104%;
	margin-left: -4%;
}

#mainMenu ul li{
	margin-left: 4%;
}

#searchBox{
	float: left;
	margin-left: 2%;
	padding-bottom: 2%;
}

#searchBox input[type=search] {
	margin-left: -1%;
}

#footer .menu{
	margin-left: 7%;
}

}